/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Material Augmentations */
mat-card.center-stage.large {
  max-width: 75%;
  margin: 10vh auto;
}

mat-card.center-stage, mat-card.center-stage {
  max-width: 50%;
  margin: 10vh auto;
}

mat-card.small {
  max-width: 50%;
}

mat-card.dashboard {
  margin: 1vh 1vw;
}

mat-form-field.mat-form-field.single-line {
  width:100%;
  margin:1rem 0;
}